<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>43979728355-vl5dbbu7qt3317f91das1v191rumhe1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43979728355-vl5dbbu7qt3317f91das1v191rumhe1a</string>
	<key>API_KEY</key>
	<string>AIzaSyB-VKGqEi6dOpjTdT7TMCqrSGypHtCPmGE</string>
	<key>GCM_SENDER_ID</key>
	<string>43979728355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kucc</string>
	<key>PROJECT_ID</key>
	<string>kucc-practice-run</string>
	<key>STORAGE_BUCKET</key>
	<string>kucc-practice-run.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43979728355:ios:3cff1defb4c510cb602cd6</string>
</dict>
</plist>